<h1 id="title" class="title">Mot de passe oublié ?</h1>
<!-- <p class="sub-title">Bonjour! Connectez-vous avec votre nom d'utilisateur.</p> -->
<!--
<nb-alert *ngIf="false" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="false" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert> -->

<form (ngSubmit)="requestResetPassword()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-usernameUtilisateur">Email:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="email"
           #emailUtilisateur="ngModel"
           name="usernameUtilisateur"
           type="text"
           id="input-usernameUtilisateur"
           placeholder="Email d'utilisateur"
           fieldSize="large"
           autofocus
           [status]="emailUtilisateur.dirty ? (emailUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
           [required]="forms.validation.emailUtilisateur.required"
           [minlength]="forms.validation.emailUtilisateur.minLength"
           [maxlength]="forms.validation.emailUtilisateur.maxLength"
           [email]="forms.validation.emailUtilisateur.email"
           [attr.aria-invalid]="emailUtilisateur.invalid && emailUtilisateur.touched ? true : null">
    <ng-container *ngIf="emailUtilisateur.invalid && emailUtilisateur.touched">
      <p class="caption status-danger" *ngIf="emailUtilisateur.errors?.required">
        L'email d'utilisateur est requis!
      </p>
      <p class="caption status-danger" *ngIf="emailUtilisateur.errors?.minlength || emailUtilisateur.errors?.maxlength">
        L'adresse doit contenir
        de {{forms.validation.emailUtilisateur.minLength}}
        à {{forms.validation.emailUtilisateur.maxLength}}
        caractère
      </p>
      <p class="caption status-danger" *ngIf="emailUtilisateur.errors?.email ">
        Veuillez saisir une adresse email valide
      </p>
    </ng-container>

  </div>

  <button
          nbButton
          fullWidth
          status="info"
          size="large"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
    Envoyer
  </button>
</form>

<section class="another-action" aria-label="Sign in">
  Vous avez déjà un compte? <a class="text-link" routerLink="../login">S'identifier</a>
</section>

<p-toast [baseZIndex]="100" position="top-right"></p-toast>
