.customHeaderMenuButton {
    margin-left: 4px;
}

.customHeaderLabel {
    margin-left: 5px;
}

.customSortDownLabel {
    margin-left: 10px;
}

.customSortUpLabel {
    margin-left: 3px;
}

.customSortRemoveLabel {
    font-size: 11px;
    margin-left: 3px;
}

.active {
    color: rgb(196, 118, 66);
}

.hidden {
    display: none;
}
