<div style="display: flex; align-items: center;">
  <div [hidden]="!params.enableMenu" class="customHeaderMenuButton" (click)="onMenuClick()">
      <i class="{{'fa ' + params.menuIcon}}"></i>
  </div>
  <div class="customHeaderLabel">{{params.displayName}}</div>
  <div [hidden]="!params.enableSorting" class="{{'customSortDownLabel'+ (this.sorted === 'desc' ? ' active' : '') }}"
       (click)="onSortRequested('desc', $event)">
      <i class="fa fa-long-arrow-alt-down"></i>
  </div>
  <div [hidden]="!params.enableSorting" class="{{'customSortUpLabel'+ (this.sorted === 'asc' ? ' active' : '') }}"
       (click)="onSortRequested('asc', $event)">
      <i class="fa fa-long-arrow-alt-up"></i>
  </div>
  <div [hidden]="!params.enableSorting" class="{{'customSortRemoveLabel'+ (this.sorted === '' ? ' active' : '') }}"
       (click)="onSortRequested('', $event)">
      <i class="fa fa-times"></i>
  </div>
</div>
