<nb-card accent="info">
  <nb-card-header>
    <nb-icon icon="grid-outline"></nb-icon> {{ title }}
  </nb-card-header>
  <nb-card-body>
    <div class="row" *ngIf="create">
      <div class="col-md-6">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary buttonstyle"  style="color: #fff" (click)="operationForm.reset(); displayOperation=true; isOperationSubmitted=false" ><i class="fa fa-plus-circle"></i> {{ 'Nouveau ' + entity }}</button>
      </div>
    </div>
      <ag-grid-angular
      #myGrid
      style="width:100%; margin-top:1%; text-align: left"
      class="ag-theme-blue"
      [columnDefs]="columnDefsOperation"
      [domLayout]="domLayout"
      [defaultColDef]="defaultColDef"
      [frameworkComponents]="frameworkComponents"
      [rowData]="operationTable"
      [rowHeight]="35"
      [pagination]="false"
      [enableRtl]="enableRtl"
      [enableCellTextSelection]="true"
      [localeText]="localeText"
      (gridReady)="onGridReadyOperation($event)"
    ></ag-grid-angular>

    <div class="paginator-container"  >
      <ngx-jw-pagination *ngIf="items > 10" [crudService]="service" [items]="items" (changePage)="onChangePage($event)"></ngx-jw-pagination>
    </div>

</nb-card-body>
</nb-card>

<p-dialog *ngIf="operationForm" appendToBody="true" header="{{ ('Ajouter ' + entity) }}" [(visible)]="displayOperation" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '200px'}" [minY]="70"
[maximizable]="true" [baseZIndex]="1000">

<div>
  <form [formGroup]="operationForm" (ngSubmit)="createOperation()" [nbSpinner]="nbSpinnerOperation">
    <div *ngFor="let dataModel of dataModelList">
      <div class="row" *ngIf="dataModel.write && dataModel.type != 'file' && dataModel.type != 'select' && dataModel.type != 'boolean'">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">{{ dataModel.columnReference }}<span *ngIf="dataModel.required" style="color: red">*</span></label>
            <input *ngIf="dataModel.type != 'date'" type="{{ dataModel.type }}" maxlength="50" nbInput fullWidth formControlName="{{ dataModel.columnName }}" placeholder="{{ dataModel.columnReference }}" [ngClass]="{'has-error': isOperationSubmitted && ( formControlsOperations()[dataModel.columnName].errors )}" [ngClass]="{'form-control-primary': operationForm.invalid && (operationForm.dirty || operationForm.touched)}">
            <input *ngIf="dataModel.type == 'date'" type="{{ dataModel.type }}" maxlength="50" nbInput fullWidth formControlName="{{ dataModel.columnName }}" placeholder="{{ dataModel.columnReference }}" [ngClass]="{'has-error': isOperationSubmitted && ( formControlsOperations()[dataModel.columnName].errors )}" [ngClass]="{'form-control-primary': operationForm.invalid && (operationForm.dirty || operationForm.touched)}">
            <div  *ngIf="isOperationSubmitted" class="text-danger error-msg">{{operationForm.controls[dataModel.columnName]["errorMessage"]}}</div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="dataModel.write && dataModel.type == 'select'">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">{{ dataModel.columnReference }}<span *ngIf="dataModel.required" style="color: red">*</span></label>
            <nb-select [disabled]="false"  placeholder="{{ dataModel.columnReference }}" formControlName="{{ dataModel.columnName }}"  [status]="isOperationSubmitted && ( formControlsOperations()[dataModel.columnName].errors ) ? 'danger': ''">
              <nb-option  *ngFor="let selectModelElement of dataModel.selectModel.selectModelList" [value]="selectModelElement[dataModel.selectModel.selectId]">{{ selectModelElement[dataModel.selectModel.selectNom] }}</nb-option>
            </nb-select>
            <div *ngIf="isOperationSubmitted" class="text-danger error-msg">{{operationForm.controls[dataModel.columnName]["errorMessage"]}}</div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="dataModel.write && dataModel.type == 'boolean'">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">{{ dataModel.columnReference }}<span *ngIf="dataModel.required" style="color: red">*</span></label>
            <nb-select [disabled]="false"  placeholder="{{ dataModel.columnReference }}" formControlName="{{ dataModel.columnName }}"  [status]="isOperationSubmitted && ( formControlsOperations()[dataModel.columnName].errors ) ? 'danger': ''">
              <nb-option value="true">Oui</nb-option>
              <nb-option value="false">Non</nb-option>
            </nb-select>
            <div *ngIf="isOperationSubmitted" class="text-danger error-msg">{{operationForm.controls[dataModel.columnName]["errorMessage"]}}</div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" nbButton status="success" class="button-style" style="border-color: white; float: right;" [shape]="'round'" [disabled]="blockButton">Ajouter</button>
  </form>
</div>
</p-dialog>

<p-dialog *ngIf="operationForm" appendToBody="true" header="{{ ('Modifier ' + updateEntity) }}" [(visible)]="displayOperationUpdate" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '200px'}" [minY]="70"
[maximizable]="true" [baseZIndex]="1000">
<div>
  <form [formGroup]="operationForm" (ngSubmit)="updateOperation()" [nbSpinner]="nbSpinnerOperation">
    <div *ngFor="let dataModel of dataModelList">
      <div class="row" *ngIf="dataModel.update && dataModel.type != 'file' && dataModel.type != 'select' && dataModel.type != 'boolean'">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">{{ dataModel.columnReference }}<span *ngIf="dataModel.required" style="color: red">*</span></label>
            <input type="{{ dataModel.type }}" maxlength="50"  nbInput fullWidth formControlName="{{ dataModel.columnName }}" placeholder="{{ dataModel.columnReference }}" [ngClass]="{'has-error': isOperationSubmitted && ( formControlsOperations()[dataModel.columnName].errors )}">
            <div *ngIf="isOperationSubmitted" class="text-danger error-msg">{{operationForm.controls[dataModel.columnName]["errorMessage"]}}</div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="dataModel.update && dataModel.type == 'select'">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">{{ dataModel.columnReference }}<span *ngIf="dataModel.required" style="color: red">*</span></label>
            <nb-select [disabled]="false"  placeholder="{{ dataModel.columnReference }}" formControlName="{{ dataModel.columnName }}"  [status]="isOperationSubmitted && ( formControlsOperations()[dataModel.columnName].errors ) ? 'danger': ''">
              <nb-option  *ngFor="let selectModelElement of dataModel.selectModel.selectModelList" [value]="selectModelElement[dataModel.selectModel.selectId]">{{ selectModelElement[dataModel.selectModel.selectNom] }}</nb-option>
            </nb-select>
            <div *ngIf="isOperationSubmitted" class="text-danger error-msg">{{operationForm.controls[dataModel.columnName]["errorMessage"]}}</div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="dataModel.update && dataModel.type == 'boolean'">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">{{ dataModel.columnReference }}<span *ngIf="dataModel.required" style="color: red">*</span></label>
            <br/>
            <p-dropdown  [options]="booleanOptions" formControlName="{{ dataModel.columnName }}" class="scope-container"></p-dropdown>
            <div *ngIf="isOperationSubmitted" class="text-danger error-msg">{{operationForm.controls[dataModel.columnName]["errorMessage"]}}</div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" nbButton status="success" class="button-style" style="border-color: white; float: right;" [shape]="'round'" [disabled]="blockButton">Modifier</button>
  </form>
</div>
</p-dialog>

<p-dialog header="{{ 'Supprimer ' + entity }}" [(visible)]="displayOperationDelete" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
[maximizable]="true" [baseZIndex]="10000" [nbSpinner]="nbSpinnerOperation">
Voulez-vous vraiment supprimer cet élément
  <p-footer>
    <button type="button" nbButton status="info" (click)="displayOperationDelete=false"  class="ui-button-secondary">Quitter</button>
    <button type="button" nbButton status="danger" (click)="deleteOperation()">Supprimer</button>
  </p-footer>
</p-dialog>

