
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item curseur">
        <a (click)="setPage(1)" class="page-link">Première</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item curseur">
        <a (click)="setPage(pager.currentPage - 1)" class="page-link">Précédent</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item curseur">
        <a (click)="setPage(page)" class="page-link">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item curseur">
        <a (click)="setPage(pager.currentPage + 1)" class="page-link">Suivant</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item curseur">
        <a (click)="setPage(pager.totalPages)" class="page-link">Dernière</a>
    </li>
  </ul>
