<h1 id="title" class="title">Réinitiaiser votre mot de passe</h1>

<form (ngSubmit)="resetpassword()" #form="ngForm" aria-labelledby="title">


  <div class="form-control-group">
    <label class="label" for="input-usernameUtilisateur">Mot de passe :</label>
    <input nbInput
           fullWidth
           [(ngModel)]="password"
           #passwordUtilisateur="ngModel"
           name="passwordUtilisateur"
           type="password"
           id="input-usernameUtilisateur"
           placeholder="Mot de passe utilisateur"
           fieldSize="large"
           autofocus
           [status]="passwordUtilisateur.dirty ? (passwordUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
           [required]="forms.validation.passwordUtilisateur.required"
           [minlength]="forms.validation.passwordUtilisateur.minLength"
           [maxlength]="forms.validation.passwordUtilisateur.maxLength"
           [attr.aria-invalid]="passwordUtilisateur.invalid && passwordUtilisateur.touched ? true : null">
    <ng-container *ngIf="passwordUtilisateur.invalid && passwordUtilisateur.touched">
      <p class="caption status-danger" *ngIf="passwordUtilisateur.errors?.required">
        Le mot de passe d'utilisateur est requis!
      </p>
      <p class="caption status-danger" *ngIf="passwordUtilisateur.errors?.minlength || passwordUtilisateur.errors?.maxlength">
        L'adresse doit contenir
        de {{forms.validation.passwordUtilisateur.minLength}}
        à {{forms.validation.passwordUtilisateur.maxLength}}
        caractère
      </p>
    </ng-container>

  </div>

  <div class="form-control-group">
    <label class="label" for="input-usernameUtilisateur">Confirmer Mot de passe :</label>
    <input nbInput
           fullWidth
           [(ngModel)]="confirmepassword"
           #confirmepasswordUtilisateur="ngModel"
           name="confirmepasswordUtilisateur"
           type="password"
           id="input-usernameUtilisateur"
           placeholder="Confirmer Mot de passe utilisateur"
           fieldSize="large"
           autofocus
           [status]="confirmepasswordUtilisateur.dirty ? (confirmepasswordUtilisateur.invalid || matchpassword  ? 'danger' : 'success') : 'basic'"
           [required]="forms.validation.confirmepasswordUtilisateur.required"
           [minlength]="forms.validation.confirmepasswordUtilisateur.minLength"
           [maxlength]="forms.validation.confirmepasswordUtilisateur.maxLength"
           [attr.aria-invalid]="confirmepasswordUtilisateur.invalid && confirmepasswordUtilisateur.touched ? true : null">
    <ng-container *ngIf="(confirmepasswordUtilisateur.invalid && confirmepasswordUtilisateur.touched) || matchpassword ">
      <p class="caption status-danger" *ngIf="confirmepasswordUtilisateur.errors?.required">
        Le mot de passe d'utilisateur est requis!
      </p>
      <p class="caption status-danger" *ngIf="confirmepasswordUtilisateur.errors?.minlength || confirmepasswordUtilisateur.errors?.maxlength">
        L'adresse doit contenir
        de {{forms.validation.confirmepasswordUtilisateur.minLength}}
        à {{forms.validation.confirmepasswordUtilisateur.maxLength}}
        caractère
      </p>
      <p class="caption status-danger" *ngIf="matchpassword">
        Veuillez saisir le meme mot de passe
      </p>
    </ng-container>

  </div>
  <button nbButton
          fullWidth
          status="info"
          size="large"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
          Confirmer
  </button>
</form>

<!-- <section class="another-action" aria-label="Sign in">
  Vous avez déjà un compte? <a class="text-link" routerLink="../login">S'identifier</a>
</section> -->

<p-toast [baseZIndex]="100" position="top-right"></p-toast>
