<div class="col-12">
  <nb-card size="small">
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Dépendances générales">
        <ngx-curd
          [title]="'Liste des dépendances générales'"
          [entity]="'dépendance générale'"
          [operationTable]="dependancesApplicationTable"
          [service]="dependanceApplicationService"
          [initItem]="dependanceApplication"
          [idName]="'idDependance'"
          [operationForm]="dependanceApplicationForm"
          [dataModelList]="dependancesApplicationModel"
          [create]="true"
          [update]="true"
        [delete]="false"
        ></ngx-curd>
      </nb-tab>
      <nb-tab tabTitle="Dépendances de la base de données">
        <ngx-curd
          [title]="'Liste des dépendances de la base de données'"
          [entity]="'dépendance de base de données'"
          [operationTable]="dependancesBaseTable"
          [service]="dependanceBaseService"
          [initItem]="dependanceBase"
          [idName]="'idDependance'"
          [operationForm]="dependanceBaseForm"
          [dataModelList]="dependancesBaseModel"
          [create]="true"
          [update]="true"
          [delete]="false"
        ></ngx-curd>
      </nb-tab>
      <nb-tab tabTitle="Dépendances de l'authentification">
        <ngx-curd
          [title]="'Liste des dépendances de l\'authentification'"
          [entity]="'dépendance d\'authentification'"
          [operationTable]="dependancesAuthentificationTable"
          [service]="dependanceAuthentificationService"
          [initItem]="dependanceAuthentification"
          [idName]="'idDependance'"
          [operationForm]="dependanceAuthentificationForm"
          [dataModelList]="dependancesAuthentificationModel"
          [create]="true"
          [update]="true"
          [delete]="false"
        ></ngx-curd>
      </nb-tab>
    </nb-tabset>
  </nb-card>
</div>
