<div class="col-12">
  <nb-card size="small">
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Propriétés générales">
        <ngx-curd
          [title]="'Liste des propriétés générales'"
          [entity]="'propriété générale'"
          [operationTable]="proprietesApplicationTable"
          [service]="proprieteApplicationService"
          [initItem]="proprieteApplication"
          [idName]="'idPropriete'"
          [operationForm]="proprieteApplicationForm"
          [dataModelList]="proprietesApplicationModel"
          [create]="true"
          [update]="true"
          [delete]="false"
        ></ngx-curd>
      </nb-tab>
      <nb-tab tabTitle="Propriétés de la base de données">
        <ngx-curd
          [title]="'Liste des propriétés de la base de données'"
          [entity]="'propriété de base de données'"
          [operationTable]="proprietesBaseTable"
          [service]="proprieteBaseService"
          [initItem]="proprieteBase"
          [idName]="'idPropriete'"
          [operationForm]="proprieteBaseForm"
          [dataModelList]="proprietesBaseModel"
          [create]="true"
          [update]="true"
          [delete]="false"
        ></ngx-curd>
      </nb-tab>
      <nb-tab tabTitle="Propriétés de l'authentification">
        <ngx-curd
          [title]="'Liste des propriétés de l\'authentification'"
          [entity]="'propriété d\'authentification'"
          [operationTable]="proprietesAuthentificationTable"
          [service]="proprieteAuthentificationService"
          [initItem]="proprieteAuthentification"
          [idName]="'idPropriete'"
          [operationForm]="proprieteAuthentificationForm"
          [dataModelList]="proprietesAuthentificationModel"
          [create]="true"
          [update]="true"
          [delete]="false"
        ></ngx-curd>
      </nb-tab>
    </nb-tabset>
  </nb-card>
</div>
