@import '../../@theme/styles/themes';

:host ::ng-deep nb-stepper .step-content {
    text-align: center;
  };

.stepper-header-content {
    margin-bottom: 30px;
}

.filter-container {
    text-align: center;
}
.project-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
.project-details > div {
    display: flex;
    align-items: center;
}
.project-details > div img {
    margin-right: 14px;
}
.project-detail {
    padding: 0 1em 1em 1em;
    border-bottom: 1px solid #d9dad9;
    margin: 1em;
}
.ui-panel-content {
    padding: 1em;
}
.dark-theme :host ::ng-deep .project-details,
.dark-theme :host ::ng-deep .project-detail {
    border-bottom: 1px solid #191919;
}

@media (max-width: 1024px) {
    .project-details img {
         width: 75px;
    }
    .filter-container {
        text-align: left;
    }
}
.btn-search {
  background-color: #f0843c;
  border: #f0843c;
  margin-top:0;
}

.buttonstyle {
    background: transparent linear-gradient(90deg, #01CBE2 0%, #0078E1 100%) 0% 0% no-repeat padding-box;
    border-radius: 25px;
    border-color: white;
    float: right;

}

:host /deep/ .ng2-smart-action-multiple-select{
    text-align: center;
}

:host /deep/ .ng2-smart-action-multiple-select > input{
    width:13px;
    height:13px;
    display: unset;
}

.form-group {
  text-align: left !important;
}
.required-star{
  color: red;
}
