
<div *ngIf="application == null; else elseBlock">
    <nb-card accent="info" class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card-header>
        <div class="row">
          <div class="col-md-6" style="display: flex; align-items: center;">
            <nb-icon icon="grid-outline"></nb-icon>&nbsp;Liste des API générées
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-primary buttonstyle"  style="color: #fff" (click)="onNewApi()" ><i class="fa fa-plus-circle"></i> {{ 'Nouvelle API' }}</button>
          </div>
        </div>
      </nb-card-header>
        <nb-card-body class="gp-card-container">
            <p-dataView class="projects-data-view gp-paginator-container" emptyMessage="La liste est vide" #dv [value]="generatedProjects" layout="grid" [paginator]="true" [rows]="4" paginatorPosition="bottom" filterBy="nomGeneratedProject">
                <p-header>
                    <div class="ui-helper-clearfix">
                        <div class="p-grid">
                            <div class="p-col-12 p-md-12" style="display: flex; align-items: center; justify-content: center;">
                                <div style="position:relative">
                                    <input nbInput type="search" pInputText placeholder="Chercher par nom" (input)="dv.filter($event.target.value)">
                                </div>
                            </div>
                        </div>
                    </div>
                </p-header>
                <!-- <ng-template let-generatedProject pTemplate="listItem">
                    <div class="p-col-12">
                        <div class="project-details">
                            <div>
                                <img style="width: 100px; height: 100px;" src="../../../assets/images/directory.png">
                                <div class="p-grid">
                                    <div class="p-col-12">Nom: <b>{{generatedProject.nomGeneratedProject}}</b></div>
                                    <div class="p-col-12">Type: <b>{{generatedProject.typeGeneratedProject}}</b></div>
                                    <div class="p-col-12">Date: <b>{{generatedProject.date | date: 'dd/MM/yyyy' }}</b></div>
                                </div>
                            </div>
                            <button pButton type="button" icon="pi pi-external-link" (click)="selectGeneratedProject(generatedProject)"></button>
                        </div>
                    </div>
                </ng-template> -->
                <ng-template let-generatedProject pTemplate="gridItem">
                    <div  class="col-12 col-sm-12 col-md-4 col-lg-3 gp-container">
                        <p-panel [header]="generatedProject.nomGeneratedProject" [style]="{'text-align':'center'}">
                            <img src="../../../assets/images/directory.png" width="60">
                            <div class="project-details">{{generatedProject.typeGeneratedProject}} - {{generatedProject.date | date: 'dd/MM/yyyy'}}</div>
                          <button nbTooltip="Supprimer" nbTooltipPlacement="bottom" nbTooltipStatus="info" pButton type="button" icon="pi pi-trash" (click)="deleteGeneratedProject(generatedProject)"
                                  class="btn-search"></button>
                          <button nbTooltip="Consulter
                          " nbTooltipPlacement="bottom" nbTooltipStatus="info" style="margin-left: 10px" pButton type="button" icon="pi pi-eye" (click)="selectGeneratedProject(generatedProject)"
                                  class="btn-search"></button>
                        </p-panel>
                    </div>
                </ng-template>
            </p-dataView>
            <!-- <p-dialog header="Car Details" [(visible)]="displayDialog" [minY]="70" showEffect="fade" [modal]="true"
                [style]="{width: '225px'}" (onAfterHide)="onDialogHide()" [contentStyle]="{padding: '2em', textAlign: 'center'}">
                <div *ngIf="selectedCar">
                    <img src="assets/showcase/images/demo/car/{{selectedCar.brand}}.png">
                    <strong>{{selectedCar.vin}} - {{selectedCar.year}}</strong>
                </div>
            </p-dialog> -->
        </nb-card-body>
    </nb-card>
</div>
<ng-template #elseBlock>
<nb-card class="col-md-12 col-lg-12 col-xxxl-12" [nbSpinner]="nbSpinner">
  <nb-card-body>
      <nb-stepper orientation="horizontal" #stepper>
          <nb-step [stepControl]="applicationForm" label="Basique">
            <div class="stepper-header-content">
                <h3>Configuration Basique #1</h3>
                <br/>
                <p class="lorem">
                    La première étape durant le processus de génération d’une API Spring Boot avec API Creator est la saisie de la configuration de base.
                    <br/>
                    <br/>
                    Remarque : Il suffit de remplir ce formulaire sans passer aux autres étapes pour générer une application vide.
                </p>
            </div>
            <form [formGroup]="applicationForm" class="step-container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="selectType" class="label">Type<span class="text-danger" >*</span></label>
                            <nb-select id="selectType" [(selected)]="application.applicationType" fullWidth>
                                <nb-option  *ngFor="let applicationType of applicationTypes" value="{{ applicationType.nomEnum }}">{{ applicationType.valeurEnum }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="selectPackaging" class="label">Packaging<span class="text-danger" >*</span></label>
                            <nb-select id="selectPackaging" [(selected)]="application.packagingApplication" fullWidth>
                                <nb-option *ngFor="let packagingType of packagingTypes" value="{{ packagingType.nomEnum }}">{{ packagingType.valeurEnum }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label for="inputGroup" class="label">Group<span class="text-danger" >*</span></label>
                          <input id="inputGroup" type="text" class="form-control" formControlName="groupCtrl" nbInput fullWidth [ngClass]="{'has-error': applicationForm.invalid && applicationForm.controls.groupCtrl.errors }">
                          <div class="text-danger error-msg">{{applicationForm.controls.groupCtrl["errorMessage"]}}</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label for="inputArtifact" class="label">Artifact<span class="text-danger" >*</span></label>
                          <input id="inputArtifact" type="text" class="form-control" formControlName="artifactCtrl" nbInput fullWidth [ngClass]="{'has-error': applicationForm.invalid && applicationForm.controls.artifactCtrl.errors}">
                          <div class="text-danger error-msg">{{applicationForm.controls.artifactCtrl["errorMessage"]}}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label for="inputPort" class="label">Port<span class="text-danger" >*</span></label>
                          <input id="inputPort" type="number" class="form-control" formControlName="portCtrl" nbInput fullWidth [ngClass]="{'has-error': applicationForm.invalid && applicationForm.controls.portCtrl.errors}">
                          <div class="text-danger error-msg">{{applicationForm.controls.portCtrl["errorMessage"]}}</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputVersion" class="label">Version<span class="text-danger" >*</span></label>
                            <div class="row">
                                <div class="col-sm-4">
                                  <input id="inputVersion" type="text" class="form-control" formControlName="versionCtrl" nbInput fullWidth [ngClass]="{'has-error': applicationForm.invalid && applicationForm.controls.versionCtrl.errors}">
                                  <div class="text-danger error-msg">{{applicationForm.controls.versionCtrl["errorMessage"]}}</div>
                                </div>
                                <div class="col-sm-8">
                                    <nb-select id="selectVersion" [(selected)]="versionType" fullWidth>
                                        <nb-option *ngFor="let versionType of versionTypes" value="{{ versionType }}">{{ versionType }}</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label for="selectType" class="label">Type d'authentification<span class="text-danger" >*</span></label>
                          <nb-select id="selectType" [(selected)]="application.authentificationType" formControlName="authCtrl" fullWidth>
                              <nb-option  *ngFor="let authentificationType of authentificationTypes" value="{{ authentificationType.nomEnum }}">{{ authentificationType.valeurEnum }}</nb-option>
                          </nb-select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label for="selectType" class="label">Lombok<span class="text-danger" >*</span></label>
                          <nb-select id="selectType" formControlName="lombok" fullWidth>
                              <nb-option  *ngFor="let booleanType of booleanTypes" value="{{ booleanType.valeur }}">{{ booleanType.nom }}</nb-option>
                          </nb-select>
                      </div>
                  </div>
              </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                          <label for="inputDescription" class="label">Description<span class="text-danger" >*</span></label>
                          <textarea id="inputDescription" formControlName="descriptionCtrl" nbInput fullWidth></textarea>
                          <div class="text-danger error-msg">{{applicationForm.controls.descriptionCtrl["errorMessage"]}}</div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-2">
                    <button nbButton nbStepperPrevious outline status="info" (click)="application = null;"><nb-icon icon="arrow-back-outline"></nb-icon></button>
                  </div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2">
                    <button type="button" [disabled]="!applicationForm.valid" (click)="generateApplicationFirstStep()" nbButton fullWidth status="info">Générer</button>
                  </div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2">
                    <button type="button" (click)="onApplicationSubmit(stepper)" nbButton outline status="info"><nb-icon icon="arrow-forward-outline"></nb-icon></button>
                  </div>
                </div>
            </form>
          </nb-step>
          <nb-step [stepControl]="baseForm" label="Base de données">
            <div class="stepper-header-content">
                <h3>Configuration de la base de données #2</h3>
                <br/>
                <p class="lorem">
                    La deuxième étape durant le processus de génération d’une API Spring Boot avec API Creator est la saisie de la configuration de la base de données.
                    <br/>
                    <br/>
                    Remarque : la connectivité à la base de données n'est pas obligatoire, et vous pouvez générer votre application sans passer à l'étape suivante.
                </p>
            </div>
              <form *ngIf="application.base" [formGroup]="baseForm" class="step-container">
                <div class="row">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" style="text-align: center !important;">
                            <label for="selectType" class="label">Connectivité<span *ngIf="buttonClicked">: <span *ngIf="connectivity.result == true;" class="text-success">connexion etablie</span><span *ngIf="connectivity.result == false" class="text-danger">connexion non etablie</span></span></label>
                            <button type="button" (click)="testConnectivity(); buttonClicked = true;" nbButton fullWidth status="info">Tester la connectivité</button>
                        </div>
                    </div>
                  <div class="col-lg-4">

                  </div>
                </div>
            <br/>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" style="text-align: center !important;">
                            <nb-checkbox  [(checked)]="extractionState" status="info">Extraire les tables de la base de données</nb-checkbox>
                        </div>
                    </div>
                </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="selectType" class="label">Type<span class="text-danger" >*</span></label>
                              <nb-select id="selectType" [(selected)]="application.base.baseType" fullWidth>
                                  <nb-option  *ngFor="let baseType of baseTypes" value="{{ baseType.nomEnum }}">{{ baseType.valeurEnum }}</nb-option>
                              </nb-select>
                          </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="inputNameBASE" class="label">Nom<span class="text-danger" >*</span></label>
                          <input id="inputNameBase" type="text" class="form-control" formControlName="nameCtrl" nbInput fullWidth [ngClass]="{'has-error': baseForm.invalid && baseForm.controls.nameCtrl.errors}">
                          <div class="text-danger error-msg">{{baseForm.controls.nameCtrl["errorMessage"]}}</div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputUsernameBase" class="label">Nom d'utilisateur<span class="text-danger" >*</span></label>
                            <input id="inputUsernameBase" type="text" class="form-control" formControlName="usernameCtrl" nbInput fullWidth [ngClass]="{'has-error': baseForm.invalid && baseForm.controls.usernameCtrl.errors}">
                            <div class="text-danger error-msg">{{baseForm.controls.usernameCtrl["errorMessage"]}}</div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputPasswordBase" class="label">Mot de passe<span class="text-danger" >*</span></label>
                            <input id="inputPasswordBase" type="password" class="form-control" formControlName="passwordCtrl" nbInput fullWidth [ngClass]="{'has-error': baseForm.invalid && baseForm.controls.passwordCtrl.errors}">
                            <div class="text-danger error-msg">{{baseForm.controls.passwordCtrl["errorMessage"]}}</div>
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputIpBase" class="label">Ip<span class="text-danger" >*</span></label>
                            <input id="inputIpBase" type="text" class="form-control" formControlName="ipCtrl" nbInput fullWidth [ngClass]="{'has-error': baseForm.invalid && baseForm.controls.ipCtrl.errors}">
                            <div class="text-danger error-msg">{{baseForm.controls.ipCtrl["errorMessage"]}}</div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="inputBase" class="label">Port<span class="text-danger" >*</span></label>
                          <input id="inputBase" type="number" class="form-control" formControlName="portCtrl" nbInput fullWidth [ngClass]="{'has-error': baseForm.invalid && baseForm.controls.portCtrl.errors}">
                          <div class="text-danger error-msg">{{baseForm.controls.portCtrl["errorMessage"]}}</div>
                        </div>
                    </div>
                  </div>
                  <br/>
                  <br/>
                  <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">
                      <button nbButton nbStepperPrevious outline status="info"><nb-icon icon="arrow-back-outline"></nb-icon></button>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                      <button type="button" [disabled]="!baseForm.valid" (click)="generateApplicationSecondStep()" nbButton fullWidth  status="info">Générer</button>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                      <button type="button" (click)="onBaseSubmit(stepper)" nbButton outline status="info"><nb-icon icon="arrow-forward-outline"></nb-icon></button>
                    </div>
                  </div>
              </form>
          </nb-step>
          <nb-step label="Entités">
            <div class="stepper-header-content">
                <h3>Ajout des entités #3</h3>
                <br/>
                <p class="lorem">
                  La troisième étape durant le processus de génération d’une API Spring Boot avec API Creator est l'ajout des entités.
                  <br/>
                  <br/>
                  Remarque: Les entités ne seront ni sauvegardées ni générées si elle ne sont pas selectionnées.
                </p>
            </div>
            <form (ngSubmit)="onThirdSubmit(stepper)" class="step-container">
                <nb-card accent="info">
                    <nb-card-header>
                      Table des Entités
                    </nb-card-header>

                    <nb-card-body>
                      <ng2-smart-table [settings]="settings" [source]="source" (createConfirm)="onCreateEntity($event)" (editConfirm)="onEditEntity($event)" (deleteConfirm)="onDeleteConfirm($event)" (relationUpdate)="onRelationUpdate($event)" (attributUpdate)="onAttributUpdate($event)" (primaryKeyUpdate)="onPrimaryKeyUpdate($event)" (advancedUpdate)="onAdvancedUpdate($event)" (userRowSelect)="onUserRowSelect($event)">
                      </ng2-smart-table>
                    </nb-card-body>
                </nb-card>
                <br/>
                <br/>
                <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-2">
                    <button nbButton nbStepperPrevious outline status="info"><nb-icon icon="arrow-back-outline"></nb-icon></button>
                  </div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2">
                    <button type="button" (click)="onThirdSubmit(stepper)" nbButton fullWidth status="info">Générer</button>
                  </div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2">
                    <button type="button" (click)="onThirdSubmit(stepper)" nbButton outline status="info"><nb-icon icon="arrow-forward-outline"></nb-icon></button>
                  </div>
                </div>
            </form>
          </nb-step>
          <!-- nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
              <div class="step-container">
                  <h3>Wizard completed!</h3>
                  <button nbButton (click)="reset(stepper)">Try again</button>
              </div>
          </nb-step -->
      </nb-stepper>
  </nb-card-body>
</nb-card>
</ng-template>

<p-toast [baseZIndex]="100" position="top-right"></p-toast>

<p-dialog header="{{ 'Supprimer l\'API'}}" [(visible)]="displayOperationDelete" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
  Voulez-vous vraiment supprimer cette API?
  <p-footer>
    <button type="button" nbButton status="info" (click)="displayOperationDelete=false"  class="ui-button-secondary">Quitter</button>
    <button type="button" nbButton status="danger" (click)="confirmDeleteGeneratedProject()">Supprimer</button>
  </p-footer>
</p-dialog>
