<h1 id="title" class="title">Inscription</h1>

<nb-alert *ngIf="false" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="false" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

  <div class="row">
    <div class="form-control-group col-md-6">
      <label class="label" for="input-name">Nom<span style="color: red;" >*</span>:</label>
      <input nbInput
             [(ngModel)]="utilisateur.nomUtilisateur"
             #nomUtilisateur="ngModel"
             id="input-name"
             name="nomUtilisateur"
             placeholder="Nom"
             autofocus
             fullWidth
             fieldSize="large"
             [status]="nomUtilisateur.dirty ? (nomUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
             [required]="forms.validation.nomUtilisateur.required"
             [minlength]="forms.validation.nomUtilisateur.minLength"
             [maxlength]="forms.validation.nomUtilisateur.maxLength"
             [attr.aria-invalid]="nomUtilisateur.invalid && nomUtilisateur.touched ? true : null">
      <ng-container *ngIf="nomUtilisateur.invalid && nomUtilisateur.touched">
        <p class="caption status-danger" *ngIf="nomUtilisateur.errors?.required">
          Le nom est requis!
        </p>
        <p class="caption status-danger" *ngIf="nomUtilisateur.errors?.minlength || nomUtilisateur.errors?.maxlength">
          Le nom doit contenir
          de {{forms.validation.nomUtilisateur.minLength}}
          à {{forms.validation.nomUtilisateur.maxLength}}
          caractère
        </p>
      </ng-container>
    </div>

    <div class="form-control-group col-md-6">
      <label class="label" for="input-prenomUtilisateur">Prénom<span style="color: red;" >*</span>:</label>
      <input nbInput
             [(ngModel)]="utilisateur.prenomUtilisateur"
             #prenomUtilisateur="ngModel"
             id="input-prenomUtilisateur"
             name="prenomUtilisateur"
             placeholder="Prénom"
             fullWidth
             fieldSize="large"
             [status]="prenomUtilisateur.dirty ? (prenomUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
             [required]="forms.validation.prenomUtilisateur.required"
             [minlength]="forms.validation.prenomUtilisateur.minLength"
             [maxlength]="forms.validation.prenomUtilisateur.maxLength"
             [attr.aria-invalid]="prenomUtilisateur.invalid && prenomUtilisateur.touched ? true : null">
      <ng-container *ngIf="prenomUtilisateur.invalid && prenomUtilisateur.touched">
        <p class="caption status-danger" *ngIf="prenomUtilisateur.errors?.required">
          Le prénom est requis!
        </p>
        <p class="caption status-danger" *ngIf="prenomUtilisateur.errors?.minlength || prenomUtilisateur.errors?.maxlength">
          Le prénom doit contenir
          de {{forms.validation.prenomUtilisateur.minLength}}
          à {{forms.validation.prenomUtilisateur.maxLength}}
          caractère
        </p>
      </ng-container>
    </div>
  </div>
  <div class="row" >
    <div class="form-control-group col-md-6">
      <label class="label" for="input-usernameUtilisateur">Nom d'utilisateur<span style="color: red;" >*</span>:</label>
      <input nbInput
             [(ngModel)]="utilisateur.usernameUtilisateur"
             #usernameUtilisateur="ngModel"
             type="usernameUtilisateur"
             id="input-usernameUtilisateur"
             name="usernameUtilisateur"
             placeholder="Nom d'utilisateur"
             fullWidth
             fieldSize="large"
             [status]="usernameUtilisateur.dirty ? (usernameUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
             [required]="forms.validation.usernameUtilisateur.required"
             [minlength]="forms.validation.usernameUtilisateur.minLength"
             [maxlength]="forms.validation.usernameUtilisateur.maxLength"
             [attr.aria-invalid]="usernameUtilisateur.invalid && usernameUtilisateur.touched ? true : null">
      <ng-container *ngIf="usernameUtilisateur.invalid && usernameUtilisateur.touched">
        <p class="caption status-danger" *ngIf="usernameUtilisateur.errors?.required">
          Le nom d'utilisateur est requis!
        </p>
        <p class="caption status-danger" *ngIf="usernameUtilisateur.errors?.minlength || usernameUtilisateur.errors?.maxlength">
          Le nom d'utilisateur doit contenir
          de {{forms.validation.usernameUtilisateur.minLength}}
          à {{forms.validation.usernameUtilisateur.maxLength}}
          caractère
        </p>
      </ng-container>
    </div>

    <div class="form-control-group col-md-6">
      <label class="label" for="input-passwordUtilisateur">Mot de passe<span style="color: red;" >*</span>:</label>
      <input nbInput
             [(ngModel)]="utilisateur.passwordUtilisateur"
             #passwordUtilisateur="ngModel"
             type="passwordUtilisateur"
             id="input-passwordUtilisateur"
             name="passwordUtilisateur"
             type="password"
             placeholder="Mot de passe"
             fullWidth
             fieldSize="large"
             [status]="passwordUtilisateur.dirty ? (passwordUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
             [required]="forms.validation.passwordUtilisateur.required"
             [minlength]="forms.validation.passwordUtilisateur.minLength"
             [maxlength]="forms.validation.passwordUtilisateur.maxLength"
             [attr.aria-invalid]="passwordUtilisateur.invalid && passwordUtilisateur.touched ? true : null">
      <ng-container *ngIf="passwordUtilisateur.invalid && passwordUtilisateur.touched">
        <p class="caption status-danger" *ngIf="passwordUtilisateur.errors?.required">
          Le mot de passe est requis!
        </p>
        <p class="caption status-danger" *ngIf="passwordUtilisateur.errors?.minlength || passwordUtilisateur.errors?.maxlength">
          Le mot de passe doit contenir
          de {{forms.validation.passwordUtilisateur.minLength}}
          à {{forms.validation.passwordUtilisateur.maxLength}}
          caractère
        </p>
      </ng-container>
    </div>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-adresseUtilisateur">Adresse:</label>
    <input nbInput
           [(ngModel)]="utilisateur.adresseUtilisateur"
           #adresseUtilisateur="ngModel"
           type="adresseUtilisateur"
           id="input-adresseUtilisateur"
           name="adresseUtilisateur"
           placeholder="Adresse de l'utilisateur"
           fullWidth
           fieldSize="large"
           [status]="adresseUtilisateur.dirty ? (adresseUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
           [required]="forms.validation.adresseUtilisateur.required"
           [minlength]="forms.validation.adresseUtilisateur.minLength"
           [maxlength]="forms.validation.adresseUtilisateur.maxLength"
           [attr.aria-invalid]="adresseUtilisateur.invalid && adresseUtilisateur.touched ? true : null">
    <ng-container *ngIf="adresseUtilisateur.invalid && adresseUtilisateur.touched">
      <p class="caption status-danger" *ngIf="adresseUtilisateur.errors?.minlength || adresseUtilisateur.errors?.maxlength">
        L'adresse doit contenir
        de {{forms.validation.adresseUtilisateur.minLength}}
        à {{forms.validation.adresseUtilisateur.maxLength}}
        caractère
      </p>
    </ng-container>
  </div>

  <div class="row">
    <div class="form-control-group col-md-6">
      <label class="label" for="input-adresseMailUtilisateur">Adresse mail<span style="color: red;" >*</span>:</label>
      <input nbInput
             [(ngModel)]="utilisateur.adresseMailUtilisateur"
             #adresseMailUtilisateur="ngModel"
             type="adresseMailUtilisateur"
             id="input-adresseMailUtilisateur"
             name="adresseMailUtilisateur"
             placeholder="Adresse mail de l'utilisateur"
             fullWidth
             fieldSize="large"
             [status]="adresseMailUtilisateur.dirty ? (adresseMailUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
             [required]="forms.validation.adresseMailUtilisateur.required"
             [minlength]="forms.validation.adresseMailUtilisateur.minLength"
             [maxlength]="forms.validation.adresseMailUtilisateur.maxLength"
             [attr.aria-invalid]="adresseMailUtilisateur.invalid && adresseMailUtilisateur.touched ? true : null">
      <ng-container *ngIf="adresseMailUtilisateur.invalid && adresseMailUtilisateur.touched">
        <p class="caption status-danger" *ngIf="adresseMailUtilisateur.errors?.required">
          L'adresse mail est requise!
        </p>
        <p class="caption status-danger" *ngIf="passwordUtilisateur.errors?.minlength || passwordUtilisateur.errors?.maxlength">
          Le mot de passe doit contenir
          de {{forms.validation.passwordUtilisateur.minLength}}
          à {{forms.validation.passwordUtilisateur.maxLength}}
          caractère
        </p>
      </ng-container>
    </div>
    <div class="form-control-group col-md-6">
      <label class="label" for="input-telephoneUtilisateur">Téléphone<span style="color: red;" >*</span>:</label>
      <input nbInput
             [(ngModel)]="utilisateur.telephoneUtilisateur"
             #telephoneUtilisateur="ngModel"
             type="telephoneUtilisateur"
             id="input-telephoneUtilisateur"
             name="telephoneUtilisateur"
             placeholder="Téléphone de l'utilisateur"
             fullWidth
             fieldSize="large"
             [status]="telephoneUtilisateur.dirty ? (telephoneUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
             [required]="forms.validation.telephoneUtilisateur.required"
             [minlength]="forms.validation.telephoneUtilisateur.minLength"
             [maxlength]="forms.validation.telephoneUtilisateur.maxLength"
             [attr.aria-invalid]="telephoneUtilisateur.invalid && telephoneUtilisateur.touched ? true : null">
      <ng-container *ngIf="telephoneUtilisateur.invalid && telephoneUtilisateur.touched">
        <p class="caption status-danger" *ngIf="adresseMailUtilisateur.errors?.required">
          Le téléphone est requis!
        </p>
        <p class="caption status-danger" *ngIf="telephoneUtilisateur.errors?.minlength || telephoneUtilisateur.errors?.maxlength">
          Le téléphone doit contenir
          de {{forms.validation.telephoneUtilisateur.minLength}}
          à {{forms.validation.telephoneUtilisateur.maxLength}}
          caractère
        </p>
      </ng-container>
    </div>
  </div>

  <button nbButton
          fullWidth
          status="info"
          size="large"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
          S'inscrire
  </button>
</form>
<p-toast [baseZIndex]="1000" position="top-right"></p-toast>
<section class="another-action" aria-label="Sign in">
  Avez-vous déjà un compte? <a class="text-link" routerLink="../login">Se connecter</a>
</section>

