<nb-card>
  <nb-card-header>Gestion Profil</nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Modifier Profil">
        <form (ngSubmit)="updateMyProfil()" #form="ngForm" aria-labelledby="title">

          <div class="row">
            <div class="form-control-group col-md-6">
              <label class="label" for="input-name">Nom<span style="color: red;" >*</span>:</label>
              <input nbInput
                     [(ngModel)]="utilisateur.nomUtilisateur"
                     #nomUtilisateur="ngModel"
                     id="input-name"
                     name="nomUtilisateur"
                     placeholder="Nom"
                     autofocus
                     fullWidth
                     fieldSize="large"
                     [status]="nomUtilisateur.dirty ? (nomUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
                     [required]="forms.validation.nomUtilisateur.required"
                     [minlength]="forms.validation.nomUtilisateur.minLength"
                     [maxlength]="forms.validation.nomUtilisateur.maxLength"
                     [attr.aria-invalid]="nomUtilisateur.invalid && nomUtilisateur.touched ? true : null">
              <ng-container *ngIf="nomUtilisateur.invalid && nomUtilisateur.touched">
                <p class="caption status-danger" *ngIf="nomUtilisateur.errors?.required">
                  Le nom est requis!
                </p>
                <p class="caption status-danger" *ngIf="nomUtilisateur.errors?.minlength || nomUtilisateur.errors?.maxlength">
                  Le nom doit contenir
                  de {{forms.validation.nomUtilisateur.minLength}}
                  à {{forms.validation.nomUtilisateur.maxLength}}
                  caractère
                </p>
              </ng-container>
            </div>

            <div class="form-control-group col-md-6">
              <label class="label" for="input-prenomUtilisateur">Prénom<span style="color: red;" >*</span>:</label>
              <input nbInput
                     [(ngModel)]="utilisateur.prenomUtilisateur"
                     #prenomUtilisateur="ngModel"
                     id="input-prenomUtilisateur"
                     name="prenomUtilisateur"
                     placeholder="Prénom"
                     fullWidth
                     fieldSize="large"
                     [status]="prenomUtilisateur.dirty ? (prenomUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
                     [required]="forms.validation.prenomUtilisateur.required"
                     [minlength]="forms.validation.prenomUtilisateur.minLength"
                     [maxlength]="forms.validation.prenomUtilisateur.maxLength"
                     [attr.aria-invalid]="prenomUtilisateur.invalid && prenomUtilisateur.touched ? true : null">
              <ng-container *ngIf="prenomUtilisateur.invalid && prenomUtilisateur.touched">
                <p class="caption status-danger" *ngIf="prenomUtilisateur.errors?.required">
                  Le prénom est requis!
                </p>
                <p class="caption status-danger" *ngIf="prenomUtilisateur.errors?.minlength || prenomUtilisateur.errors?.maxlength">
                  Le prénom doit contenir
                  de {{forms.validation.prenomUtilisateur.minLength}}
                  à {{forms.validation.prenomUtilisateur.maxLength}}
                  caractère
                </p>
              </ng-container>
            </div>
          </div>
          <br>
          <div class="row" >
            <div class="form-control-group col-md-6">
              <label class="label" for="input-usernameUtilisateur">Nom d'utilisateur<span style="color: red;" >*</span>:</label>
              <input nbInput
                     [(ngModel)]="utilisateur.usernameUtilisateur"
                     #usernameUtilisateur="ngModel"
                     type="usernameUtilisateur"
                     id="input-usernameUtilisateur"
                     name="usernameUtilisateur"
                     placeholder="Nom d'utilisateur"
                     fullWidth
                     fieldSize="large"
                     [status]="usernameUtilisateur.dirty ? (usernameUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
                     [required]="forms.validation.usernameUtilisateur.required"
                     [minlength]="forms.validation.usernameUtilisateur.minLength"
                     [maxlength]="forms.validation.usernameUtilisateur.maxLength"
                     [attr.aria-invalid]="usernameUtilisateur.invalid && usernameUtilisateur.touched ? true : null">
              <ng-container *ngIf="usernameUtilisateur.invalid && usernameUtilisateur.touched">
                <p class="caption status-danger" *ngIf="usernameUtilisateur.errors?.required">
                  Le nom d'utilisateur est requis!
                </p>
                <p class="caption status-danger" *ngIf="usernameUtilisateur.errors?.minlength || usernameUtilisateur.errors?.maxlength">
                  Le nom d'utilisateur doit contenir
                  de {{forms.validation.usernameUtilisateur.minLength}}
                  à {{forms.validation.usernameUtilisateur.maxLength}}
                  caractère
                </p>
              </ng-container>
            </div>
            <div class="form-control-group col-md-6">
              <label class="label" for="input-adresseUtilisateur">Adresse:</label>
              <input nbInput
                     [(ngModel)]="utilisateur.adresseUtilisateur"
                     #adresseUtilisateur="ngModel"
                     type="adresseUtilisateur"
                     id="input-adresseUtilisateur"
                     name="adresseUtilisateur"
                     placeholder="Adresse de l'utilisateur"
                     fullWidth
                     fieldSize="large"
                     [status]="adresseUtilisateur.dirty ? (adresseUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
                     [required]="forms.validation.adresseUtilisateur.required"
                     [minlength]="forms.validation.adresseUtilisateur.minLength"
                     [maxlength]="forms.validation.adresseUtilisateur.maxLength"
                     [attr.aria-invalid]="adresseUtilisateur.invalid && adresseUtilisateur.touched ? true : null">
              <ng-container *ngIf="adresseUtilisateur.invalid && adresseUtilisateur.touched">
                <p class="caption status-danger" *ngIf="adresseUtilisateur.errors?.minlength || adresseUtilisateur.errors?.maxlength">
                  L'adresse doit contenir
                  de {{forms.validation.adresseUtilisateur.minLength}}
                  à {{forms.validation.adresseUtilisateur.maxLength}}
                  caractère
                </p>
              </ng-container>
            </div>

          </div>

          <br>
          <div class="row">
            <div class="form-control-group col-md-6">
              <label class="label" for="input-adresseMailUtilisateur">Adresse mail<span style="color: red;" >*</span>:</label>
              <input nbInput
                     [(ngModel)]="utilisateur.adresseMailUtilisateur"
                     #adresseMailUtilisateur="ngModel"
                     type="adresseMailUtilisateur"
                     id="input-adresseMailUtilisateur"
                     name="adresseMailUtilisateur"
                     placeholder="Adresse mail de l'utilisateur"
                     fullWidth
                     fieldSize="large"
                     [status]="adresseMailUtilisateur.dirty ? (adresseMailUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
                     [required]="forms.validation.adresseMailUtilisateur.required"
                     [minlength]="forms.validation.adresseMailUtilisateur.minLength"
                     [maxlength]="forms.validation.adresseMailUtilisateur.maxLength"
                     [attr.aria-invalid]="adresseMailUtilisateur.invalid && adresseMailUtilisateur.touched ? true : null">
              <ng-container *ngIf="adresseMailUtilisateur.invalid && adresseMailUtilisateur.touched">
                <p class="caption status-danger" *ngIf="adresseMailUtilisateur.errors?.required">
                  L'adresse mail est requise!
                </p>
                <p class="caption status-danger" *ngIf="adresseMailUtilisateur.errors?.minlength || adresseMailUtilisateur.errors?.maxlength">
                  Le mot de passe doit contenir
                  de {{forms.validation.adresseMailUtilisateur.minLength}}
                  à {{forms.validation.adresseMailUtilisateur.maxLength}}
                  caractère
                </p>
              </ng-container>
            </div>
            <div class="form-control-group col-md-6">
              <label class="label" for="input-telephoneUtilisateur">Téléphone<span style="color: red;" >*</span>:</label>
              <input nbInput
                     [(ngModel)]="utilisateur.telephoneUtilisateur"
                     #telephoneUtilisateur="ngModel"
                     type="telephoneUtilisateur"
                     id="input-telephoneUtilisateur"
                     name="telephoneUtilisateur"
                     placeholder="Téléphone de l'utilisateur"
                     fullWidth
                     fieldSize="large"
                     [status]="telephoneUtilisateur.dirty ? (telephoneUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
                     [required]="forms.validation.telephoneUtilisateur.required"
                     [minlength]="forms.validation.telephoneUtilisateur.minLength"
                     [maxlength]="forms.validation.telephoneUtilisateur.maxLength"
                     [attr.aria-invalid]="telephoneUtilisateur.invalid && telephoneUtilisateur.touched ? true : null">
              <ng-container *ngIf="telephoneUtilisateur.invalid && telephoneUtilisateur.touched">
                <p class="caption status-danger" *ngIf="adresseMailUtilisateur.errors?.required">
                  Le téléphone est requis!
                </p>
                <p class="caption status-danger" *ngIf="telephoneUtilisateur.errors?.minlength || telephoneUtilisateur.errors?.maxlength">
                  Le téléphone doit contenir
                  de {{forms.validation.telephoneUtilisateur.minLength}}
                  à {{forms.validation.telephoneUtilisateur.maxLength}}
                  caractère
                </p>
              </ng-container>
            </div>
          </div>
        <br>
          <button nbButton
                  style="float: right;"
                  status="info"
                  size="large"
                  [disabled]="submitted || !form.valid"
                  [class.btn-pulse]="submitted">
                  Modifier
          </button>
        </form>
      </nb-tab>
      <nb-tab tabTitle="Modifier Mot de passe">
        <form (ngSubmit)="resetpassword()" #formspasswords="ngForm" aria-labelledby="title">

          <div class="form-control-group">
            <label class="label" for="input-usernameUtilisateur">Ancien Mot de passe <span style="color: red;" >*</span>:</label>
            <input nbInput
                   fullWidth
                   [(ngModel)]="oldpassword"
                   #oldpasswordUtilisateur="ngModel"
                   name="oldpasswordUtilisateur"
                   type="password"
                   id="input-usernameUtilisateur"
                   placeholder="Ancien Mot de passe utilisateur"
                   fieldSize="large"
                   autofocus
                   [status]="oldpasswordUtilisateur.dirty ? (oldpasswordUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
                   [required]="formspassword.validation.oldpasswordUtilisateur.required"
                   [minlength]="formspassword.validation.oldpasswordUtilisateur.minLength"
                   [maxlength]="formspassword.validation.oldpasswordUtilisateur.maxLength"
                   [attr.aria-invalid]="oldpasswordUtilisateur.invalid && oldpasswordUtilisateur.touched ? true : null">
            <ng-container *ngIf="oldpasswordUtilisateur.invalid && oldpasswordUtilisateur.touched">
              <p class="caption status-danger" *ngIf="oldpasswordUtilisateur.errors?.required">
                Le mot de passe d'utilisateur est requis!
              </p>
              <p class="caption status-danger" *ngIf="oldpasswordUtilisateur.errors?.minlength || oldpasswordUtilisateur.errors?.maxlength">
                L'adresse doit contenir
                de {{formspassword.validation.oldpasswordUtilisateur.minLength}}
                à {{formspassword.validation.oldpasswordUtilisateur.maxLength}}
                caractère
              </p>
            </ng-container>

          </div>
          <br>
          <div class="form-control-group">
            <label class="label" for="input-usernameUtilisateur">Mot de passe <span style="color: red;" >*</span>:</label>
            <input nbInput
                   fullWidth
                   [(ngModel)]="password"
                   #passwordUtilisateur="ngModel"
                   name="passwordUtilisateur"
                   type="password"
                   id="input-usernameUtilisateur"
                   placeholder="Mot de passe utilisateur"
                   fieldSize="large"
                   autofocus
                   [status]="passwordUtilisateur.dirty ? (passwordUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
                   [required]="formspassword.validation.passwordUtilisateur.required"
                   [minlength]="formspassword.validation.passwordUtilisateur.minLength"
                   [maxlength]="formspassword.validation.passwordUtilisateur.maxLength"
                   [attr.aria-invalid]="passwordUtilisateur.invalid && passwordUtilisateur.touched ? true : null">
            <ng-container *ngIf="passwordUtilisateur.invalid && passwordUtilisateur.touched">
              <p class="caption status-danger" *ngIf="passwordUtilisateur.errors?.required">
                Le mot de passe d'utilisateur est requis!
              </p>
              <p class="caption status-danger" *ngIf="passwordUtilisateur.errors?.minlength || passwordUtilisateur.errors?.maxlength">
                L'adresse doit contenir
                de {{formspassword.validation.passwordUtilisateur.minLength}}
                à {{formspassword.validation.passwordUtilisateur.maxLength}}
                caractère
              </p>
            </ng-container>

          </div>
          <br>
          <div class="form-control-group">
            <label class="label" for="input-usernameUtilisateur">Confirmer Mot de passe <span style="color: red;" >*</span>:</label>
            <input nbInput
                   fullWidth
                   [(ngModel)]="confirmepassword"
                   #confirmepasswordUtilisateur="ngModel"
                   name="confirmepasswordUtilisateur"
                   type="password"
                   id="input-usernameUtilisateur"
                   placeholder="Confirmer Mot de passe utilisateur"
                   fieldSize="large"
                   autofocus
                   [status]="confirmepasswordUtilisateur.dirty ? (confirmepasswordUtilisateur.invalid || matchpassword  ? 'danger' : 'success') : 'basic'"
                   [required]="formspassword.validation.confirmepasswordUtilisateur.required"
                   [minlength]="formspassword.validation.confirmepasswordUtilisateur.minLength"
                   [maxlength]="formspassword.validation.confirmepasswordUtilisateur.maxLength"
                   [attr.aria-invalid]="confirmepasswordUtilisateur.invalid && confirmepasswordUtilisateur.touched ? true : null">
            <ng-container *ngIf="(confirmepasswordUtilisateur.invalid && confirmepasswordUtilisateur.touched) || matchpassword ">
              <p class="caption status-danger" *ngIf="confirmepasswordUtilisateur.errors?.required">
                Le mot de passe d'utilisateur est requis!
              </p>
              <p class="caption status-danger" *ngIf="confirmepasswordUtilisateur.errors?.minlength || confirmepasswordUtilisateur.errors?.maxlength">
                L'adresse doit contenir
                de {{formspassword.validation.confirmepasswordUtilisateur.minLength}}
                à {{formspassword.validation.confirmepasswordUtilisateur.maxLength}}
                caractère
              </p>
              <p class="caption status-danger" *ngIf="matchpassword">
                Veuillez saisir le meme mot de passe
              </p>
            </ng-container>

          </div>
          <br>
          <button nbButton style="float: right;"
                  status="info"
                  size="large"
                  [disabled]="submitted || !formspasswords.valid"
                  [class.btn-pulse]="submitted">
                  Modifier
          </button>
        </form>
      </nb-tab>
     </nb-tabset>
  </nb-card-body>
</nb-card>

<p-toast [baseZIndex]="100" position="top-right"></p-toast>

