<nb-card accent="info" [nbSpinner]="nbSpinner">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div *ngIf="!advanced; else elseBlock">
    <ng2-smart-table *ngIf="!cascadeTable" [settings]="settings" [source]="source"
    (createConfirm)="onCreateElement($event)" (editConfirm)="onEditElement($event)"
    (deleteConfirm)="onDeleteConfirm($event)" (cascadeUpdate)="onCascadeOpen($event)">
    </ng2-smart-table>
    <ng2-smart-table *ngIf="cascadeTable" [settings]="cascadeSettings" [source]="cascadeSource"
    (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </div>
    <ng-template #elseBlock>
      <form [formGroup]="advancedForm">
        <div class="form-group">
          <label for="InheritanceType" class="label">Type d'héritage</label>
          <nb-select id="InheritanceType" [(selected)]="entity.inheritanceType" fullWidth>
            <nb-option  *ngFor="let inheritanceType of inheritanceTypes" value="{{ inheritanceType.nomEnum }}">{{ inheritanceType.valeurEnum }}</nb-option>
          </nb-select>
        </div>
        <div class="form-group" *ngIf="entity.inheritanceType == 'SINGLE_TABLE'">
          <label for="DiscriminatorColumn" class="label">Colonne discriminante</label>
          <input nbInput fullWidth id="DiscriminatorColumn" placeholder="Colonne Discriminateur" formControlName="discriminatorColumnCtrl">
        </div>
        <div class="form-group" *ngIf="entity.mere && entity.mere.inheritanceType && entity.mere.inheritanceType == 'SINGLE_TABLE'">
          <label for="DiscriminatorValue" class="label">Valeur discriminante</label>
          <input nbInput fullWidth id="DiscriminatorValue" placeholder="Valeur Discriminateur" formControlName="discriminatorValueCtrl">
        </div>
        <div class="form-group" *ngIf="entity.mere && entity.mere.inheritanceType && entity.mere.inheritanceType == 'JOINED'">
          <label for="PrimaryKeyJoinColumn" class="label">
            Colonne de clé primaire de jointure</label>
          <input nbInput fullWidth id="PrimaryKeyJoinColumn" placeholder="Colonne de clé primaire de jointure" formControlName="primaryKeyJoinColumnCtrl">
        </div>
      </form>
    </ng-template>
  </nb-card-body>
  <nb-card-footer>
    <button *ngIf="!cascadeTable && !advanced" nbButton hero status="info" (click)="dismiss()">Quitter</button>
    <button *ngIf="cascadeTable && !advanced" nbButton hero status="info" (click)="cascadeTable = !cascadeTable">Retour</button>
    <div  *ngIf="advanced">
        <button style="width: 150px; margin-right: 10px;" nbButton outline status="info" (click)="quitterAdvanced(); dismiss()">Quitter</button>
        <button style="width: 150px" (click)="onAdvancedSave(); dismiss()" nbButton status="info">Sauvgarder</button>
    </div>
  </nb-card-footer>
</nb-card>
