@import '../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    //max-width: 1200px;
    max-height: 500px;
    text-align: center;
  }
  nb-card-footer {
    text-align: right;
  }
}

/deep/ .cdk-global-scrollblock {
  position: static !important;
  }
