<div class="row"  >
  <div class="col-sm-4" ></div>
  <div class="col-sm-2" nbTooltip="{{'Modifier'}}" nbTooltipPlacement="bottom"><a class="cuseur" (click)="onClick1($event)" style="color:green"> <i class="fas fa-edit"></i> </a>
  </div>
  <div class="col-sm-4" ></div>
</div>

