@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";

.paginator-container {
  padding: 0px !important;
  float: right !important;
  display: flex;
  justify-content: flex-end;
}
.btn-search{
  background-color: #89b9f6

  !important;
  border: #84b5f5 !important;
  margin-top: 0 !important;
}
.projects-data-view .ui-dataview .ui-dataview-header {
  background-color: white !important;
  border: 0px solid #0095ff !important;
  border-bottom:1px solid #f2f6ff !important;

}
.projects-data-view .ui-dataview .ui-dataview-content {
  border: 0px solid #0095ff !important;
  border-top: 0px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
.projects-data-view .ui-paginator {
  background-color: white;
  border: white;
}
.projects-data-view .ui-panel .ui-panel-titlebar {
  border: 0px solid #edf1f7;
  background-color: #f2f6ff;
  border-bottom: 0px;
  box-shadow: 10px 12px 5px #e0e0e0;
  padding: 30px;
}
.projects-data-view .ui-panel .ui-panel-content {
  border: 0px solid #edf1f7;
  background-color: #f2f6ff;
  border-top: 0px;
  box-shadow: 10px 10px 5px #e0e0e0;
  height: 230px
}

.gp-container {
  padding: 0.5em 15px;
}

.gp-paginator-container .ui-paginator-bottom {
  margin-top: 3% !important;
}
.nb-theme-default nb-card.size-small {
  height: auto !important;
}
.scope-container .ui-dropdown {
  width: 100% !important;
  border: 1px solid #e4e9f2 !important;

}
.scope-container .ui-dropdown-label-container label {
  background-color: #f7f9fc !important;
}
.scope-container .ui-dropdown-trigger {
  background-color: #f7f9fc !important;
}

.ui-table .ui-table-caption, .ui-table .ui-table-summary {
  background-color: white !important;
  border: #9bc2e6 !important;

}

.ui-table .ui-table-thead > tr > th {
  background-color: #5e9cd3 !important;
  border: 1px solid #9bc2e6 !important;
  color: #ffffff !important;
}

.ui-table .ui-table-tbody > tr > td {
  border: 1px solid #9bc2e6 !important;
}

.ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: #deebf7 !important;
}

.gestionnaire-table-container .ui-paginator {
  background-color: #5e9cd3 !important;
  border-color: #5e9cd3;
}
.gestionnaire-table-container .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  color: #5e9cd3 !important;
  background-color: white;
}

.gestionnaire-table-container .ui-paginator .ui-paginator-first, .gestionnaire-table-container .ui-paginator .ui-paginator-prev, .gestionnaire-table-container .ui-paginator .ui-paginator-next, .gestionnaire-table-container .ui-paginator .ui-paginator-last {
  color: #ffffff !important;
}

.gestionnaire-table-container body .ui-paginator .ui-paginator-pages .ui-paginator-page {
  color: #ffffff !important;
}

body .ui-table .ui-sortable-column .ui-sortable-column-icon {
  color: #ffffff !important;
}

.nb-theme-default nb-action {
  border-left: 2px solid #0095ff !important;
}

.nb-theme-default nb-tabset .tab.active .tab-link {
  color: #0095ff !important;
}

.nb-theme-default nb-tabset .tab:hover .tab-link {
  color: #0095ff !important;
}

.nb-theme-default nb-tabset .tab.active .tab-link::before {
  background-color: #0095ff !important;
}

.nb-theme-default nb-tabset .tab:hover .tab-link::before {
  background-color: #0095ff !important;
}

.nb-theme-default nb-menu .menu-item a.active {
  color: #0594fb !important;
}

.nb-theme-default nb-menu .menu-item a.active .menu-icon {
  color: #0594fb !important
}

.nb-theme-default nb-menu .menu-item a:hover {
  color: #0594fb !important;
}

.nb-theme-default nb-menu .menu-item a:hover .menu-icon {
  color: #0594fb !important;
}


.nb-theme-default nb-stepper .header .step.selected .label-index {
  border-color: #0594fb !important;
}

.nb-theme-default nb-stepper .header .step.selected {
  color: #0594fb !important;
}

.nb-theme-default nb-stepper .header .step.completed .label-index {
  background-color: #0594fb !important;
  border-color: #0594fb !important;
}

.nb-theme-default nb-stepper .header .connector-past {
  background-color: #0594fb !important;
}

.nb-theme-default ng2-smart-table th.ng2-smart-actions-title-add a {
  background-color: #0594fb !important;
  border-color:  #0594fb !important;
}

.nb-theme-default ng2-smart-table th.ng2-smart-actions-title-add a:hover {
  background-color: #05a0fb !important;
  border-color:  #05a0fb !important;
}

nb-spinner {
  z-index: 998 !important;
}

.error-msg {
  color: red;
  margin-top: 10px !important;
}

.has-error{
  border-color: #d33c3c !important;
  color: #d33c3c;
}
