<div class="row btn-renderer-container"  >

  <div *ngIf="update" class="btn-renderer" nbTooltip="{{'Modifier'}}" nbTooltipPlacement="bottom"><a class="cuseur" (click)="onUpdateClick($event)" style="color:green"> <i class="fas fa-edit"> </i> </a>
  </div>
  <div class="btn-renderer">
    <a *ngIf="delete" nbTooltip="{{'Supprimer'}}" nbTooltipPlacement="bottom" (click)="onDeleteClick($event)" class="cuseur" style="color:red"> <i class="fa fa-trash"></i> </a>
  </div>

</div>

