<div *ngIf="dataModelList" class="gestionnaire-table-container">


  <p-table [paginator]="true" [rows]="10" [resizableColumns]="true" [autoLayout]="true" [responsive]="true" [columnResizeMode]="'fit'"	 #dt [columns]="cols" class="ag-theme-blue" [value]="operationTable">
    <ng-template pTemplate="caption">
      <div class="row">
          <div class="col-md-6">
            <i class="pi pi-search" style="margin:4px 4px 0 0; float: left;"></i>
            <input class="recherche-gestionnaire" type="text" nbInput pInputText size="50" placeholder="Recherche globale" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        <div class="col-md-6">
          <button *ngIf="create" type="button" class="btn btn-primary buttonstyle" (click)="onCreateClick(); isOperationSubmitted = false" ><i class="fa fa-plus-circle"></i> {{ 'Nouvelle ' + entity }}</button>
        </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header"  let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">{{ col.header }}<p-sortIcon [field]="col.field"></p-sortIcon></th>
        <th>Actions</th>
      </tr>
      <!-- tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.type">
          <input class="gestionnaire-table-input" *ngSwitchCase="'text'" pInputText type="text" (input)="dt.filter($event.target.value, col.field,  'contains')">
          <p-dropdown appendTo="body" *ngSwitchCase="'select'" [options]="col.list" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field,  'equals')"></p-dropdown>
        </th>
        <th></th>
      </tr -->
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <ng-container [pSelectableRow]="rowData">
          <td *ngFor="let col of columns" class="truncate">{{ rowData[col.field] }}</td>
        </ng-container>
        <td><ngx-button-renderer [rowDataInput]="rowData" (updateEvent)="onUpdateClick($event)" (deleteEvent)="onDeleteClick($event)" ></ngx-button-renderer></td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog appendToBody="true" header="{{ ('Ajouter une ' + entity) }}" [(visible)]="displayOperation" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '200px'}" [minY]="70"
            [maximizable]="true" [baseZIndex]="1000">

    <div>
      <form [formGroup]="operationForm" (ngSubmit)="createOperation()" [nbSpinner]="nbSpinnerOperation">
        <div *ngFor="let dataModel of dataModelList" [ngSwitch]="dataModel.type">
          <div class="row" *ngIf="dataModel.write && dataModel.type != 'file' && dataModel.type != 'select'">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="label">{{ dataModel.columnReference }}<span *ngIf="dataModel.required" style="color: red">*</span></label>
                <input type="{{ dataModel.type }}" maxlength="50"  nbInput fullWidth formControlName="{{ dataModel.columnName }}" placeholder="{{ dataModel.columnReference }}" [ngClass]="{'has-error': isOperationSubmitted && ( formControlsOperations()[dataModel.columnName].errors )}">
                <div  *ngIf="isOperationSubmitted" class="text-danger error-msg">{{operationForm.controls[dataModel.columnName]["errorMessage"]}}</div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="dataModel.write && dataModel.type == 'select' && dataModel.selectModel.selectModelList">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="label">{{ dataModel.columnReference }}<span *ngIf="dataModel.required" style="color: red">*</span></label>
                <br/>
                <p-dropdown  [options]="dataModel.selectModel.selectModelList" formControlName="{{ dataModel.columnName }}" class="scope-container"></p-dropdown>
                <div  *ngIf="isOperationSubmitted" class="text-danger error-msg">{{operationForm.controls[dataModel.columnName]["errorMessage"]}}</div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" nbButton status="success" class="button-style" style="border-color: white; float: right;" [shape]="'round'" [disabled]="blockButton">Ajouter</button>
      </form>
    </div>
  </p-dialog>

  <p-dialog appendToBody="true" header="{{ ('Modifier la ' + entity) }}" [(visible)]="displayOperationUpdate" [modal]="true" [responsive]="true" [style]="{width: '600px', minWidth: '200px'}" [minY]="70"
            [maximizable]="true" [baseZIndex]="1000">
    <div>
      <form [formGroup]="operationForm" (ngSubmit)="updateOperation()" [nbSpinner]="nbSpinnerOperation">
        <div *ngFor="let dataModel of dataModelList" [ngSwitch]="dataModel.type">
          <div class="row" *ngIf="dataModel.write && dataModel.type != 'file' && dataModel.type != 'select'">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="label">{{ dataModel.columnReference }}<span *ngIf="dataModel.required" style="color: red">*</span></label>
                <input type="{{ dataModel.type }}" maxlength="50"  nbInput fullWidth formControlName="{{ dataModel.columnName }}" placeholder="{{ dataModel.columnReference }}" [ngClass]="{'has-error': isOperationSubmitted && ( formControlsOperations()[dataModel.columnName].errors )}">
                <div  *ngIf="isOperationSubmitted" class="text-danger error-msg">{{operationForm.controls[dataModel.columnName]["errorMessage"]}}</div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="dataModel.write && dataModel.type == 'select'">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="label">{{ dataModel.columnReference }}<span *ngIf="dataModel.required" style="color: red">*</span></label>
                <br/>
                <p-dropdown  [options]="dataModel.selectModel.selectModelList" formControlName="{{ dataModel.columnName }}" class="scope-container"></p-dropdown>
                <div  *ngIf="isOperationSubmitted" class="text-danger error-msg">{{operationForm.controls[dataModel.columnName]["errorMessage"]}}</div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" nbButton status="success" class="button-style" style="border-color: white; float: right;" [shape]="'round'" [disabled]="blockButton">Modifier</button>
      </form>
    </div>
  </p-dialog>

  <p-dialog header="{{ 'Supprimer la ' + entity }}" [(visible)]="displayOperationDelete" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000" [nbSpinner]="nbSpinnerOperation">
    Voulez-vous vraiment supprimer cet élément?
    <p-footer>
      <button type="button" nbButton status="info" (click)="displayOperationDelete=false"  class="ui-button-secondary">Quitter</button>
      <button type="button" nbButton status="danger" (click)="deleteOperation()">Supprimer</button>
    </p-footer>
  </p-dialog>
</div>
