.placeholder {
  border-color: red !important;
}
nb-select{
  width: 100% !important;
}
.buttonstyle {
  background: transparent linear-gradient(90deg, #01CBE2 0%, #0078E1 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px;
  border-color: white;
  float: right;
  margin-bottom: 1%
}

:host ::ng-deep {
  text-align: left;
};


.ui-togglebutton {
  background-color: #15d134;
  color: #ffffff;
  -moz-transition: background-color 0.2s, box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s; }
.ui-togglebutton .ui-button-icon-left {
  color:  #00B300; }
.ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover {
  background-color: #00B300;
  color: #ffffff; }
.ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover .ui-button-icon-left {
  color: #ffffff; }
.ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus {
  background-color:  #00B300;
  color: #ffffff;
  outline: 0 none; }

.ui-corner-all {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

fieldset {
  display: block !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding-top: 0.35em !important;
  padding-bottom: 0.625em !important;
  padding-left: 0.75em !important;
  padding-right: 0.75em !important;
  border-bottom: 1px groove !important;
  border-top: 1px groove  !important;
}
.button-style {
  background: transparent linear-gradient(90deg, #26e69e 0%, #02a866 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px !important;
  border-color: transparent !important;
}

.centreVerticalement {
  display: flex;
  align-items: center;
}

legend {

  max-width: 10% !important;
}
.paginater-fr {
  float: right;
  padding-right: 13px;
  padding-top: 1%;
}
.paginater-ar {
  float: left;
  padding-left: 13px;
  padding-top: 1%;
}

.has-error {
  border-color: #d33c3c !important;
  color: #d33c3c;
}
.label-has-error {
  color: #d33c3c;
  margin-top: 1%;
  margin-left: 2%;
}
.cuseur{
  cursor: pointer;
}

.ui-button {
  margin: 0;
  color: #ffffff;
  background-color: #007ad9;
  border: 1px solid #007ad9;
  font-size: 14px;
  -moz-transition: background-color 0.2s, box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s; }


.recherche-gestionnaire {
  border-color: #5e9cd3 !important;
  background-color: #ffffff !important;
  line-height: 1rem !important;
  float: left;
}

.gestionnaire-table-input {
  width: 100% !important;
  border: 1px solid #a6a6a6 !important;
  border-radius: 3px !important;
  height: 33px !important;
}


