<h1 id="title" class="title">Connexion</h1>
<p class="sub-title">Bonjour! Connectez-vous avec votre nom d'utilisateur.</p>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-usernameUtilisateur">Nom d'utilisateur:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="utilisateur.usernameUtilisateur"
           #usernameUtilisateur="ngModel"
           name="usernameUtilisateur"
           type="text"
           id="input-usernameUtilisateur"
           placeholder="Nom d'utilisateur address"
           fieldSize="large"
           autofocus
           [status]="usernameUtilisateur.dirty ? (usernameUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
           [required]="forms.validation.usernameUtilisateur.required"
           [minlength]="forms.validation.usernameUtilisateur.minLength"
           [maxlength]="forms.validation.usernameUtilisateur.maxLength"
           [attr.aria-invalid]="usernameUtilisateur.invalid && usernameUtilisateur.touched ? true : null">
    <ng-container *ngIf="usernameUtilisateur.invalid && usernameUtilisateur.touched">
      <p class="caption status-danger" *ngIf="usernameUtilisateur.errors?.required">
        Le nom d'utilisateur est requis!
      </p>
      <p class="caption status-danger" *ngIf="usernameUtilisateur.errors?.minlength || usernameUtilisateur.errors?.maxlength">
        L'adresse doit contenir
        de {{forms.validation.usernameUtilisateur.minLength}}
        à {{forms.validation.usernameUtilisateur.maxLength}}
        caractère
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-passwordUtilisateur">Mot de passe:</label>
      <a class="forgot-passwordUtilisateur caption-2" routerLink="../request-passwordUtilisateur">Mot de passe oublié?</a>
    </span>
    <input nbInput
           fullWidth
           [(ngModel)]="utilisateur.passwordUtilisateur"
           #passwordUtilisateur="ngModel"
           name="passwordUtilisateur"
           type="password"
           id="input-passwordUtilisateur"
           placeholder="Mot de passe"
           fieldSize="large"
           [status]="passwordUtilisateur.dirty ? (passwordUtilisateur.invalid  ? 'danger' : 'success') : 'basic'"
           [required]="forms.validation.passwordUtilisateur.required"
           [minlength]="forms.validation.passwordUtilisateur.minLength"
           [maxlength]="forms.validation.passwordUtilisateur.maxLength"
           [attr.aria-invalid]="passwordUtilisateur.invalid && passwordUtilisateur.touched ? true : null">
    <ng-container *ngIf="passwordUtilisateur.invalid && passwordUtilisateur.touched ">
      <p class="caption status-danger" *ngIf="passwordUtilisateur.errors?.required">
        Le mot de passe est requis!
      </p>
      <p class="caption status-danger" *ngIf="passwordUtilisateur.errors?.minlength || passwordUtilisateur.errors?.maxlength">
        L'adresse doit contenir
        de {{forms.validation.passwordUtilisateur.minLength}}
        à {{forms.validation.passwordUtilisateur.maxLength}}
        caractère
      </p>
    </ng-container>
  </div>

  <p *ngIf="badCredentials" class="sub-title" style="color: red">Nom d'utilisateur ou mot de passe incorrect.</p>

  <button nbButton
          fullWidth
          status="info"
          size="large"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
          Se connecter
  </button>
</form>

<section class="another-action" aria-label="Register">
Vous n'avez pas un compte? <a class="text-link" routerLink="../register">S'inscrire</a>
</section>
